body h1 {
    font-family: Limelight, sans-serif;
    font-size: 3rem;
}

.text-center {
    margin-top: 45px;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 440px;
    margin: 0 auto;
}

.game-grid div {
    background-color: lightgray;
    border: 1px solid #ccc;
    width: 100%;
    padding-bottom: 100%; /* Makes the grid squares a 1:1 aspect ratio */
    position: relative;
    border-radius: 4px; /* Rounded corners */
}

.game-grid div.active {
    background-color: #950303;
}

game-grid div:hover {
    cursor: pointer;
}

.container {
    margin-top: 1rem !important;
}

/* Slider styling */
.form-control-range {
    -webkit-appearance: none; /* Remove default styling */
    width: 15%;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, green, yellow, red); /* Color the slider */
    outline: none; /* Remove outline */
    cursor: pointer;
    opacity: 0.7; /* Set transparency */
}
